.h1 {
  @apply text-3xl sm:text-5xl md:text-6xl font-medium;
}

.h2 {
  @apply text-2xl sm:text-4xl md:text-5xl font-medium;
}

.h3 {
  @apply text-xl sm:text-3xl md:text-4xl font-medium;
}

.h4 {
  @apply text-lg sm:text-xl md:text-lg font-medium;
}

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-emerald-600 to-amber-600;
}
