.h1 {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-medium leading-tight;
}

.h2 {
  @apply text-2xl sm:text-3xl md:text-4xl font-medium leading-tight;
}

.h3 {
  @apply text-xl sm:text-2xl md:text-3xl font-medium leading-tight;
}

.h4 {
  @apply text-lg sm:text-xl md:text-2xl font-medium leading-snug;
}

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-emerald-600 to-amber-600;
}

.text-gradient-home{
  @apply text-transparent bg-clip-text bg-gradient-to-r from-[#8C1EFF] to-[#FF2975];
}

.bg-gradient {
  @apply bg-gradient-to-r from-[--app-bg] via-[#8C1EFF] via-[#FF2975] to-[--app-bg];
}
