/**  scrollbar classes */

.scrollbar-width-none {
  scrollbar-width: none !important;
}

.scrollbar-width-thin {
  scrollbar-width: thin !important;
}

/** theme-based utility classes */

.theme-bg {
  background-color: var(--app-bg);
}

.theme-bg-secondary {
  background-color: var(--app-bg-secondary);
}

.theme-text {
  color: var(--app-text);
}

.border {
  border-style: var(--tw-border-style) !important;
  border-width: 1px !important;
}

.border-color {
  border-color: var(--app-border) !important;
}

.theme-gradient-fade {
  background: linear-gradient(to top, var(--app-bg), transparent);
}

.theme-overlay-light {
  background-color: rgba(255, 255, 255, 0.1);
}

.theme-badge {
  background-color: var(--app-text);
  color: var(--app-bg);
}

.theme-underline {
  background-color: var(--app-text);
}
